# .NET Core
/WebsitemakerApi/bin/
/WebsitemakerApi/obj/
*.csproj.user
*.sqlite

# Angular (corrected from React)
/website-maker/node_modules/
/website-maker/dist/
/website-maker/.angular/
/website-maker/.env